.List_6_14 {
  transform: translate(0px, 0px) rotate(0deg) scale(1, 1);
  transform-origin: 1px 1px;
  position: absolute;
  top: 0;
  left: 0;
  width: 377px;
  min-height: 1777px;
  background-color: rgba(
    42.44710050523281,
    77.26174056529999,
    144.84310537576675,
    1
  );
  border: none;
}
